.terms-container {
    margin-top: 50px;
}

.terms-header {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.terms-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terms-content {
    // height: 400px;
    overflow-y: auto;
    padding: 20px;
    line-height: 1.6;
}

.terms-content h5 {
    margin-top: 20px;
    font-size: larger !important;
    color: #be5a18;
}
.bolds{
    color:#be5a18;
}
.back-to-top-btn {
    display: inline-block;
    margin-top: 20px;
}

ul {
    list-style-type: disc !important; /* Sets bullet points for list items */
    padding-left: 20px; /* Adds some padding to the left */
  }
  
  li {
    margin-bottom: 10px; /* Adds space between list items */
    font-size: 1rem; /* Sets font size for the list items */
    line-height: 1.5; /* Increases line height for better readability */
  }
  