.container {
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ef7d00 ;
    border-radius: 5px;
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  small {
    color: red;
  }
  
  button {
    margin-right: 10px;
    padding: 10px 20px;
  }
  
  .BottomMargin { padding-bottom: 2rem; }